html, body {
    height: 100%;
}

html .container {
  min-height: 100%;
}

body {
  background-image: url(../img/vintage-background.JPG);
  opacity: 0.9;
}

a {
  font-style: italic;
  color: black;
}

h1 {
  font-family:  Fira Sans, sans-serif;
  font-size: 4em;
}

p {
  font-family:  Fira Sans, sans-serif;
  font-size: 2em;
  line-height: 20px;
}

form h2 {
  color: #fff;
}

li {
  list-style-type: none;
  font-style: italic;
  font-size: 20px;
}

label {
  color: #fff;
}

form {
  background-color: black;
  padding: 80px;
  border-radius: 5px;
}

input {
  margin-bottom: 10px;
}

.header, .footer {
  text-align: center;
  background-color: #e50000;
  padding: 3%;
}

.container {
  width: 100%;
  padding: 40px;
  text-align: center;
}

.key-words {
  font-weight: bold;
}

.show-order {
  display: none;
  background-color: #fff;
  padding: 3%;
  border-radius: 5px;
}
